# Segredos locais (Onde sua senha mora)
*.tfvars
*.tfvars.json

# Arquivos de estado do Terraform (Contêm segredos em texto limpo!)
terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform.exe

# Logs e arquivos temporários
*.zip
.terraform.lock.hcl